@import '../../sass/variables';

#search {
    display: block;
    width: 20rem;
    height: 3rem;
    font-size: 1.2rem;
    color: $lightblue;
    background-color: $darkestblue ;
    border-radius: 999px;
    outline: none;
    margin-left: 1rem;
    padding: 0 1rem;
    border-style: none;
}

@media only screen and (max-width: 480px){
    #search {
        width: 14.2rem;
        height: 2.13rem;
        font-size: 0.85rem;
        margin-left: .0.71rem;
        padding: 0 0.71rem;
        border-radius: 709px;
    }
}