@import '../../sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.card{
    // color: red;
    color: $lightblue;
    background-color: $darkestblue;
    font-family: 'Kumbh Sans', sans-serif ;
    font-weight: 700 ;
    width: 17rem ;
    height: 22rem ;
    padding: 3rem ;
    border-radius: 10px ;
    margin: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    box-shadow: 1px 2px 2px rgba(black, 0.6);

    &__tabs {
        margin-bottom: 2rem ;
        background-color: $darkblue;
        padding: 1rem ;
        display: flex;
        justify-content: space-around;
        width: 19.5rem ;
        border-radius: 10px ;

        .tab{
            outline: none;
            width: 6rem ;
            padding: 6px 0 ;
            font-size: 1.1rem ;
            font-weight: bold ;
            border-radius: 6rem ;
            background-color: transparent;
            border: none;
            color: white;
            cursor: pointer;

            &-active{
                background-color: $red;
                color: black;
            }
        }
    }

    .inner-ring {
        width: 19.5rem ;
        height: 16.5rem ;
        background-color: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3rem ;
        border-radius: 8px ;
    }

    .main-inner {
        background-color: $darkestblue;
        width: 19.45rem ;
        height: 16.45rem ;
        border-radius: 6px ;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding-left: 1rem ;
        padding-top: 1rem ;

        .item{
            padding-bottom: .9rem ;
        }
    }

    
}


@media only screen and (max-width: 480px){
   .card {
        width: 12rem;
        height: 15.22rem;
        padding: 2.13rem;
        border-radius: 7.1px;
        margin: 1.42rem;
        &__tabs {
            margin-bottom: 1.42rem;
            padding: 0.71rem;
            width: 13.8rem;
            border-radius: 7.1px;

            .tab{
                width: 4.26rem;
                padding: 4.26px 0;
                font-size: 0.78rem;

            }
        }

        .inner-ring {
            width: 13.84rem;
            height: 11.71rem;
            padding: .21rem;
            border-radius: 5.68px;
        }

        .main-inner {
            width: 13.8rem;
            height: 11.68rem;
            border-radius: 4.26px;
            padding-left: 0.71rem;
            padding-top: 0.71rem;
            font-size: 12px;

            .item {
                padding-bottom: 0.639rem;
            }
        }
   }

  
}